<mat-toolbar color="primary">
  <button mat-raised-button color="accent"><span routerLink="/">Recipe-List</span></button>&nbsp;
  <button mat-raised-button color="accent"><span routerLink="/create">New Recipe</span></button>
  
   
</mat-toolbar>


<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
  </ul>
</mat-toolbar> -->
